@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    font-family: monospace;
}

.header {
    background-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 1vw;
}
.header h1{
    background: hsla(238, 100%, 71%, 1);

    background: linear-gradient(45deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer{
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    height: 75vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    justify-content: space-evenly;
    align-items: center;
    background: hsla(238, 100%, 71%, 1);

    background: linear-gradient(45deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    background: -moz-linear-gradient(45deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    background: -webkit-linear-gradient(45deg, hsla(238, 100%, 71%, 1) 0%, hsla(295, 100%, 84%, 1) 100%);

    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr="#696eff", endColorstr="#f8acff", GradientType=1 );
}

#text-area{
    max-height: 75vh;
    max-width: 75vw;
    width: 50vw;
    height: 50vh;
    background-color: #e1e1e1;
    border: #e1e1e1;
    border-radius: 10px;
}
textarea{
    font-size: x-large;
}
.buttons{
    display: flex;
    height: 50%;
}
nav ul{
    list-style: none;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
nav li{

}
.btn{
    border-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    background: whitesmoke;
    outline: none;
}

.btn:hover{
    background: black;
    color: whitesmoke;
}



